<style type='text/css'>span:nth-child(even){background-color:#ddd}div{display:inline;background-color:#bbb}</style><pre><b>count: 115</b>

<div><b>id  var1                     var2                var3           var4   var5   var6   </b></div>
<span>0   head1                    head1               1              13     1      0      </span>
<span>1   body1                    body1               2              6      1      0      </span>
<span>2   legs1                    legs1               3              15     1      0      </span>
<span>3   femalehead               fhead1              1              13     1      0      </span>
<span>4   femalebody               fbody1              2              10     1      0      </span>
<span>5   head2                    head2               1              13     1      0      </span>
<span>6   head3                    head3               1              5      1      0      </span>
<span>7   head4                    head4               1              13     1      0      </span>
<span>8   chefshat                 chefshat            ffffff         0      1      0      </span>
<span>9   whiteapron               apron               ffffff         0      1      0      </span>
<span>10  brownapron               apron               956030         0      1      0      </span>
<span>11  boots                    boots               0              0      1      0      </span>
<span>12  bronzefullhelm           fullhelm            ff6619         0      1      0      </span>
<span>13  ironfullhelm             fullhelm            eedddd         0      1      0      </span>
<span>14  steelfullhelm            fullhelm            eeeeee         0      1      0      </span>
<span>15  mithrilfullhelm          fullhelm            99b2cc         0      1      0      </span>
<span>16  adamantitefullhelm       fullhelm            b2cc99         0      1      0      </span>
<span>17  runefullhelm             fullhelm            cc99b2         0      1      0      </span>
<span>18  blackfullhelm            fullhelm            404040         0      1      0      </span>
<span>19  whitefullhelm            fullhelm            ffffff         0      1      0      </span>
<span>20  bronzechainmail          chainmail           ff6619         0      1      0      </span>
<span>21  ironchainmail            chainmail           eedddd         0      1      0      </span>
<span>22  steelchainmail           chainmail           eeeeee         0      1      0      </span>
<span>23  mithrilchainmail         chainmail           99b2cc         0      1      0      </span>
<span>24  adamantitechainmail      chainmail           b2cc99         0      1      0      </span>
<span>25  bronzeplatemailtop       platemailtop        ff6619         0      1      0      </span>
<span>26  ironplatemailtop         platemailtop        eedddd         0      1      0      </span>
<span>27  steelplatemailtop        platemailtop        eeeeee         0      1      0      </span>
<span>28  mithrilplatemailtop      platemailtop        99b2cc         0      1      0      </span>
<span>29  adamantiteplatemailtop   platemailtop        b2cc99         0      1      0      </span>
<span>30  blackplatemailtop        platemailtop        303030         0      1      0      </span>
<span>31  whiteplatemailtop        platemailtop        ffffff         0      1      0      </span>
<span>32  bronzeplatemaillegs      platemaillegs       ff6619         0      1      0      </span>
<span>33  ironplatemaillegs        platemaillegs       eedddd         0      1      0      </span>
<span>34  steelplatemaillegs       platemaillegs       eeeeee         0      1      0      </span>
<span>35  mithrilplatemaillegs     platemaillegs       99b2cc         0      1      0      </span>
<span>36  adamantiteplatemaillegs  platemaillegs       b2cc99         0      1      0      </span>
<span>37  blackplatemaillegs       platemaillegs       404040         0      1      0      </span>
<span>38  whiteplatemaillegs       platemaillegs       ffffff         0      1      0      </span>
<span>39  leatherarmour            leatherarmour       0              0      1      0      </span>
<span>40  leathergloves            leathergloves       0              0      1      0      </span>
<span>41  bronzesword              sword               ff6619         0      1      0      </span>
<span>42  ironsword                sword               eedddd         0      1      0      </span>
<span>43  steelsword               sword               eeeeee         0      1      0      </span>
<span>44  mithrilsword             sword               99b2cc         0      1      0      </span>
<span>45  adamantitesword          sword               b2cc99         0      1      0      </span>
<span>46  runesword                sword               cc99b2         0      1      0      </span>
<span>47  whiteapron               apron               ffffff         0      1      0      </span>
<span>48  redcape                  cape                ff0000         0      1      0      </span>
<span>49  blackcape                cape                404040         0      1      0      </span>
<span>50  bluecape                 cape                4040ee         0      1      0      </span>
<span>51  bronzemediumhelm         mediumhelm          ff6619         0      1      0      </span>
<span>52  ironmediumhelm           mediumhelm          eedddd         0      1      0      </span>
<span>53  steelmediumhelm          mediumhelm          eeeeee         0      1      0      </span>
<span>54  mithrilmediumhelm        mediumhelm          99b2cc         0      1      0      </span>
<span>55  adamantitemediumhelm     mediumhelm          b2cc99         0      1      0      </span>
<span>56  wizardsrobe              wizardsrobe         ff             0      1      0      </span>
<span>57  wizardshat               wizardshat          ff             0      1      0      </span>
<span>58  blackwizardshat          wizardshat          404040         0      1      0      </span>
<span>59  necklace                 necklace            0              0      1      0      </span>
<span>60  blueskirt                skirt               ff             0      1      0      </span>
<span>61  blackrobe                wizardsrobe         404040         0      1      0      </span>
<span>62  Brownrobe                Wizardsrobe         a06040         0      1      0      </span>
<span>63  redrobe                  wizardsrobe         ee3030         0      1      0      </span>
<span>64  brownskirt               skirt               a06040         0      1      0      </span>
<span>65  blackskirt               skirt               404040         0      1      0      </span>
<span>66  pinkskirt                skirt               f4b3f3         0      1      0      </span>
<span>67  redskirt                 skirt               ee3030         0      1      0      </span>
<span>68  bronzeskirt              Skirt               803019         0      1      0      </span>
<span>69  ironskirt                skirt               776666         0      1      0      </span>
<span>70  steelskirt               skirt               777777         0      1      0      </span>
<span>71  mithrilskirt             skirt               224255         0      1      0      </span>
<span>72  adamantiteskirt          skirt               425522         0      1      0      </span>
<span>73  bronzesquareshield       squareshield        ff6619         0      1      0      </span>
<span>74  ironsquareshield         squareshield        eedddd         0      1      0      </span>
<span>75  steelsquareshield        squareshield        eeeeee         0      1      0      </span>
<span>76  mithrilsquareshield      squareshield        99b2cc         0      1      0      </span>
<span>77  adamantitesquareshield   squareshield        b2cc99         0      1      0      </span>
<span>78  woodensquareshield       squareshield        ad6331         0      1      0      </span>
<span>79  crossbow                 crossbow            0              0      0      0      </span>
<span>80  longbow                  longbow             0              0      0      0      </span>
<span>81  bronzebattleaxe          battleaxe           ff6619         0      1      0      </span>
<span>82  ironbattleaxe            battleaxe           eedddd         0      1      0      </span>
<span>83  steelbattleaxe           battleaxe           eeeeee         0      1      0      </span>
<span>84  mithrilbattleaxe         battleaxe           99b2cc         0      1      0      </span>
<span>85  adamantitebattleaxe      battleaxe           b2cc99         0      1      0      </span>
<span>86  runebattleaxe            battleaxe           cc99b2         0      1      0      </span>
<span>87  bronzemace               mace                ff6619         0      1      0      </span>
<span>88  ironmace                 mace                eedddd         0      1      0      </span>
<span>89  steelmace                mace                eeeeee         0      1      0      </span>
<span>90  mithrilmace              mace                99b2cc         0      1      0      </span>
<span>91  adamantitemace           mace                b2cc99         0      1      0      </span>
<span>92  runemace                 mace                cc99b2         0      1      0      </span>
<span>93  staff                    staff               0              0      1      0      </span>
<span>94  rat                      rat                 0              0      1      0      </span>
<span>95  demon                    demon               0              0      1      0      </span>
<span>96  spider                   spider              cc9940         0      1      0      </span>
<span>97  redspider                spider              ff4050         0      1      0      </span>
<span>98  camel                    camel               0              0      0      0      </span>
<span>99  cow                      cow                 0              0      0      0      </span>
<span>100 sheep                    sheep               0              0      0      0      </span>
<span>101 unicorn                  unicorn             0              0      1      0      </span>
<span>102 bear                     bear                0              0      1      0      </span>
<span>103 chicken                  chicken             0              0      1      0      </span>
<span>104 skeleton                 skeleton            0              0      1      0      </span>
<span>105 skelweap                 skelweap            0              0      1      1      </span>
<span>106 zombie                   zombie              0              0      1      0      </span>
<span>107 zombweap                 zombweap            0              0      1      1      </span>
<span>108 ghost                    ghost               0              0      1      0      </span>
<span>109 bat                      bat                 0              0      0      0      </span>
<span>110 goblin                   goblin              88ddff         0      1      0      </span>
<span>111 redgoblin                goblin              ff0000         0      1      0      </span>
<span>112 greengoblin              goblin              bb00           0      1      0      </span>
<span>113 gobweap                  gobweap             ffff           0      1      1      </span>
<span>114 scorpion                 scorpion            0              0      1      0      </span>
</pre>