<style type='text/css'>span:nth-child(even){background-color:#ddd}div{display:inline;background-color:#bbb}</style><pre><b>count: 3</b>

<div><b>id  var1                var2      var3      var4   </b></div>
<span>0   tiles               64        10        6      </span>
<span>1   tent                150       0         -10580 </span>
<span>2   greytiles           64        10        2      </span>
</pre>