<style type='text/css'>span:nth-child(even){background-color:#ddd}div{display:inline;background-color:#bbb}</style><pre><b>count: 9</b>

<div><b>id  var1                var2   var3                                    var4   var5   var6   var7                var8   </b></div>
<span>0   Confuse             1      Reduces your opponent's fighting skills 2      3      2      mind-rune(35)       2      
                                                                                            body-rune(36)       1      
</span><span>1   Chill bolt          1      A strengh 1 missile attack              2      3      2      water-rune(32)      2      
                                                                                            air-rune(33)        1      
</span><span>2   Thick skin          1      Increases your defence                  0      1      2      earth-rune(34)      2      
                                                                                            body-rune(36)       2      
</span><span>3   Burst of strength   2      Increase your strength                  0      1      2      body-rune(36)       2      
                                                                                            earth-rune(34)      1      
</span><span>4   Shock bolt          4      A strength 1 missile attack             2      3      2      fire-rune(31)       2      
                                                                                            air-rune(33)        1      
</span><span>5   Elemental bolt      9      A strength 2 missile attack             2      3      4      fire-rune(31)       1      
                                                                                            air-rune(33)        1      
                                                                                            earth-rune(34)      1      
                                                                                            water-rune(32)      1      
</span><span>6   Rock skin           11     Increases your defence                  0      1      2      earth-rune(34)      3      
                                                                                            body-rune(36)       1      
</span><span>7   Fear                12     Causes some opponents to retreat        2      3      2      mind-rune(35)       3      
                                                                                            water-rune(32)      1      
</span><span>8   Wind bolt           14     A strength 2 missile attack             2      3      2      air-rune(33)        3      
                                                                                            fire-rune(31)       1      
</span></pre>